@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,200;0,400;0,500;0,600;1,100&family=Kanit:wght@300;500;600&family=Poppins:ital,wght@0,500;0,700;0,800;0,900;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    line-height: 1.5rem;
    font-family: 'Fira Sans Condensed', sans-serif, 'Kanit', sans-serif,'Poppins', sans-serif,'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: white;
   
}
.maincontainer{
  margin-left: -14rem;
  position: relative;
}
                                             /* Header Only (Nav Bar) */

.navbar{
    width: 100%;
    height: 70px;
    left: 13.5rem;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ol{
    flex-direction: row;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    position: relative;
    left: -2rem;
}
li{
  left: -14rem;
  position: relative;
}
.navbar h1{
color: white;
position: relative;
left: 10rem;
}
.navbar ol li a{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    text-decoration: none;
}
.navbar img{
    height: 14vh;
    top: -0.5rem;
    left: -17rem;
    position: relative;
    border-radius: 20px;
}
input{
    padding: 15px 10px;
    height: 2rem;
    position: relative;
    left: -7rem;
    top: 1-rem;
    background-color:white;
    border: none;
    width: 23rem;
    border-radius: 6px;
}
  
button {
    /* padding: 3px 5px; */
    border: none;
    width: 4rem;
    height: 2rem;
    top: 0rem;
    left: -13rem;
    border-radius: 5px;
    position: relative;
    background-color: white;
    color:black;
    cursor: pointer;
  }

                                        /* Content 1 */

                                        
.container1 {
left: 13.5rem;
position: relative;
}
.container1 img{
    width: 100%;
    height: 33rem;
    top: -0.2rem;
    filter: blur(1px);
    position: relative;
    box-shadow: 1px 2px 3px 5px white;
}

.container1 h1{
    z-index: 99;
    color: white;
    line-height: 1.4;
    letter-spacing: 0rem;
    top: -21rem;
    position: relative;
    left: 9rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    font-size: 3rem;
    /* text-shadow:10px 5px 10px white; */
}
.container1 h5{
    z-index: 99;
    color: white;
    line-height: 1.4;
    letter-spacing: 0rem;
    position: relative;
    top: -20rem;
    left: 43rem;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-shadow:10px 5px 10px white; */
}


.h1{
    color: black;
    left: 35rem;
    line-height: 1.4;
    letter-spacing: 0rem;
    top: -9rem;
    position: relative;
    font-size: 3rem;
    z-index: 99;
}


                                    /* Contant  */

.contant1 h1{
color: black;
top: -5rem;
left: 22rem;
font-size: 2.5rem;
position: relative;
z-index: 99;

}

.contant1 img{
    width: 50%;
    top: 20rem;
    height: 30rem;
    left: 33rem;
    position: relative;
    border-radius: 35px;
    box-shadow:10px 10px 10px black;
}
.contant1 p{
    top: -35rem;
    left: 27rem;
    position: relative;
    align-items: center;
    font-size: 1.5rem;
    width: 70%;
    color:black;

}

.contant1 h5{
    color: black;
    position: relative;
    font-size: 2rem;
    z-index: 99;
    left: 55rem;
    top: 54rem;
}

.contant2{
    top: 12rem;
    position: relative;
}

.contant2 h1{
    color: black;
top: -5rem;
left: 22rem;
font-size: 2.5rem;
position: relative;
z-index: 99;
    }
    
    .contant2 img{
        width: 50%;
        top: 14rem;
        height: 30rem;
        left: 33rem;
        position: relative;
        border-radius: 35px;
        box-shadow:10px 10px 10px black;
    }
    
    .contant2 p{
        top: -35rem;
        left: 27rem;
        position: relative;
        align-items: center;
        font-size: 1.5rem;
        width: 70%;
        color:black;
    
    }
    
    .contant2 h5{
        color: black;
        position: relative;
        font-size: 2rem;
        z-index: 99;
        left: 55rem;
        top: 47rem;
    }
    .contant3{
        top: 22rem;
        position: relative;
    }

    
.contant3 h1{
    color: black;
    top: -5rem;
    left: 22rem;
    font-size: 2.5rem;
    position: relative;
    z-index: 99;
    }
    
    .contant3 img{
        width: 50%;
        top: 17rem;
        height: 30rem;
        left: 33rem;
        position: relative;
        border-radius: 35px;
        box-shadow:10px 10px 10px black;
    }
    
    .contant3 p{
        top: -35rem;
        left: 27rem;
        position: relative;
        align-items: center;
        font-size: 1.5rem;
        width: 70%;
        color:black;
    
    }
    
    .contant3 h5{
        color: black;
        position: relative;
        font-size: 2rem;
        z-index: 99;
        left: 55rem;
        top: 19rem;
    }
        




                                                        /* Footer  */




.contain{
    max-width: 1170px;
    margin: auto;
  
  
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  ul{
    list-style: none;
  }
  
  .footer{
    background-color: #24262b;
    padding: 70px 0;
    height: 25rem;
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 60rem;
    position: relative;
  }
  
  .footer-col{
  width: 25%;
  padding: 0 15px;
  left: 13rem;
  position: relative;
  }
  .footer-col h4{
    font-size: 18px;
    left: -14rem;
    position: relative;
    top: 0.6rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
  }
  
  .follow{
    margin-left: 10rem;
  }
  
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 55px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul{
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
  }
  .footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
  color: #24262b;  
  background-color: #ffffff;
  }

.social-links{
  margin-left: -8rem;
}
  
  /* REsponsive */
  
  @media(max-width:767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width:574px){
    .footer-col{
      width: 100%;
    }
  }                              
  
  